#inboxButton {
    font-size: 0.8rem;
    padding-top: 15px;
}

#sentButton {
    font-size: 0.8rem;
    padding: 15px 0 15px 0;
}



#inboxButton:focus, #sentButton:focus {
    background-color: #0275d8;
}

.sideBar {
    z-index: 1000000000;
    height: 100%
}
