
#inputBox {
    position: fixed;
    left: 115px;
    z-index: 10;
}

@media only screen and (max-width: 770px) {
    #inputBox {
        height: 100%;
        width: 100vw;
        left: 0;
        position: fixed;
    }
}
